<% include ../header.ejs %>
<!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            
            <a class="navbar-brand" href="#">I-Chat</a>
          </div>
          
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div class="bs-docs-example">
            <ul class="media-list">
              <li class="media">
                <a href="#" class="pull-left">
                  <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px;" src="/img/me.jpg">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Rajesh Kumar Jha</h4>
                  <p> </p>
                </div>
              </li>
            </ul>
          </div>
      </div>
      
      
    </div>

<% include ../footer.ejs %>