<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.png">

    <title> Chat Room :: </title>

    <!-- Bootstrap core CSS -->
    <link href="../public/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../public/css/jumbotron.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
   <div class="row">
    <div class="col-lg">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="#">Chat Room</a>
     </div>
     
     </div>
     </div>
   </div>
</div>
 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container main">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg">
				<dev id="msg-container">
				<div class="bs-callout">
					<div class="avtar">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<div class="message-content">
						<h4>Server</h4>
						welcome to the chat
					</div>
				</div>
				<div class="bs-callout">
					<div class="avtar">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<div class="message-content">
						<h4>Me</h4>
						hi
					</div>
				</div>
				<div class="bs-callout">
					<div class="avtar">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<div class="message-content">
						<h4>Me</h4>
						hi
					</div>
				</div>
				<div class="bs-callout">
					<div class="avtar">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<div class="message-content">
						<h4>Me</h4>
						hi
					</div>
				</div>
				<div class="bs-callout">
					<div class="avtar">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<div class="message-content">
						<h4>Me</h4>
						hi
					</div>
				</div>
				<div class="bs-callout">
					<div class="avtar">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<div class="message-content">
						<h4>Me</h4>
						hi
					</div>
				</div>
				<div class="bs-callout">
					<div class="avtar">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<div class="message-content">
						<h4>Me</h4>
						hi
					</div>
				</div>
				<div class="bs-callout">
					<div class="avtar">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<div class="message-content">
						<h4>Me</h4>
						hi
					</div>
				</div>
				<div class="bs-callout">
					<div class="avtar">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<div class="message-content">
						<h4>Me</h4>
						hi
					</div>
				</div>
				<div class="bs-callout">
					<div class="avtar">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<div class="message-content">
						<h4>Me</h4>
						hi
					</div>
				</div>
				<div class="bs-callout">
					<div class="avtar">
						<span class="glyphicon glyphicon-user"></span>
					</div>
					<div class="message-content">
						<h4>Me</h4>
						hi
					</div>
				</div>
				</dev>
				<div id="result-container"	></div>
        </div>
        <!--  -->
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
         <form role="form" id="selfsearch-form">
           <div class="input-group">
            <input type="text" class="form-control" name="query" id="query-input" autocomplete="off">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" id="send">Go!</button>
            </span>
            
          </div><!-- /input-group -->
        </form>
        </nav>  
       <!--  -->
      </div>
    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../public/js/jquery.js"></script>
  </body>
</html> 