<% include header.ejs %>
 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg">
        	<!--  -->
        	<form role="form" id="selfsearch-form">
			  <div class="input-group">
			    <input type="text" class="form-control" name="query" id="query-input">
			    <span class="input-group-btn">
			      <button class="btn btn-default" type="submit" id="send">Go!</button>
			    </span>
			    
			  </div><!-- /input-group -->
			  <small class=" text-muted">To add entry write entry in format <strong>eg. key :: value</strong>.</small>
			  <div id="alert-msg"></div>
			</form>
			
			<!--  -->
          	<dev id="msg-container" >
			
			</dev>
			<div id="result-container"	></div>
        </div>
      </div>
    </div> <!-- /container -->
<% include footer.ejs %>   