<% include header.ejs %>
 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container main">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg">
          	<dev id="msg-container" ></dev>
			        <div id="result-container"	></div>
        </div>
        <!--  -->
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
         <form role="form" id="selfsearch-form">
           <div class="input-group">
            <input type="text" class="form-control" name="query" id="query-input" autocomplete="off">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" id="send">Go!</button>
            </span>
            
          </div><!-- /input-group -->
        </form>
        </nav>  
       <!--  -->
      </div>
    </div> <!-- /container -->
<% include footer.ejs %>   